# This file defines the owners of code in the repository.
# For more information, see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owner for everything in the repository
*       @indpriyanshuraj 243560345+indpriyanshuraj@users.noreply.github.com
